<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(bird,index) in birds" :class="bird" :key="bird">
        {{index}} --- {{bird}}
      </li>
    </ul>


    <ul>
      <li v-for="(person,index) in people" :class="person.name" :key="person.name">
        {{index}} --- {{person}}

        <!-- <p>{{ person.name }}</p>
        <p>{{ person.age }}</p> -->

        <!-- v-for 还可以用来遍历对象 -->
        <p v-for="(value, key) in person" :key="key">
          {{key}} is - {{value}}
        </p>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>